.products{
  color: #7b6b5b;
  margin-top: 70px;
  margin-bottom: 100px;
}

.products img {
  margin-bottom: 20px;
}

.products .product {
  padding: 40px;
}

.products span {
  text-align: center;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.products p {
  font-size: 13px;
}

.products h2 {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 30px;
  color: #7b6b5b;
}

.products img {
  width: 100%;
}

.sendButton {
  width: 250px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  background: #7b6b5b;
  border-color: #e7d2bc;
  color: #ffffff;
}

.sendButton:hover {
  width: 250px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  background: #927f6b;
  border-color: #e7d2bc;
  color: #ffffff;
}