.banner {
  margin-top: 70px;
  margin-bottom: 45px;
  color: #7b6b5b;
  padding: 0px 100px;
  width: 100%;
}

.banner h1 {
  font-size: 50px;
  text-align: left;
}

.bannerCenter {
  text-align: center !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.bannerCenter img {
  width: 50% !important;
}

.bannerCenter p {
  margin-top: 0px !important;
  text-align: center;
}

.bannerLeft {
  display: flex;
}

.banner p {
  margin-top: 30px;
  font-size: 20px;
}

.banner img {
  width: 50%;
  margin: auto;
  display: block;
}

@media screen and (max-width: 1030px) {
  .banner {
    display: flex;
    color: #7b6b5b;   
    width: 100%;
    margin:0px;
    padding:20px;
  }
  .banner p {
    margin-top: 30px;
    font-size: 18px;
  }
  .banner h1 {
    font-size: 40px;
    text-align: left;
  }
}