.dropdownmenucontainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 138px;
  color: #7b6b5b;
}

.dropdownreportcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 30px;
  color: #7b6b5b;
}

.documentscolborder {
  border-style: solid;
  border-color: #dbc2a7;
  border-width: 1px;
  font-size: 9px;
  padding-top: 5px;
}
.documentsviewpdf {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border-color: #dbc2a7;
  border-width: thin;
  font-size: 10px;
  color: azure;
  background-color: #7b6b5b;
  background-blend-mode: lighten;
}
.documentsviewpdf1 {
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  background-color: #dbc2a7;
}
.documentsheader {
  border-style: solid;
  border-color: #dbc2a7;
  border-width: thin;
  font-size: 10px;
  font-weight: bold;
  background-color: #f0e3d5;
  padding-top: 5px;
  padding-bottom: 0px;
}

.dashsavebutton {
  border-radius: 1 !important;
  display: block;
  width: 99px;
  height: 48px;
  background-color: #7b6b5b;
  border: none;
  color: #fafafa;
}

.dashsavebutton:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}

.dashsubmitbutton {
  border-radius: 1 !important;
  display: block;
  width: 230px;
  height: 40px;
  background-color: #7b6b5b;
  border: none;
  color: #fafafa;
  padding: 10px;
}
.dashsubmitbutton:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}
.savebuttonindent {
  padding-left: 120px;
}
.accountnotes {
  font-size: 10px;
  text-align: left;
}

.sidebarlink a {
  cursor: pointer;
  text-decoration: none;
  color: #7b6b5b;
}

.dropheaderlabel {
  background-color: #faf6f2;
  width: 736px;
  height: 50px;
  padding-top: 10px;
  padding-left: 17px;
}
.dropheaderlabel2 {
  background-color: #f0e3d5;
  width: 989px;
  height: 50px;
  padding-top: 9px;
  padding-left: 10px;
  color: #7b6b5b;
}
.dropheaderlabelreport {
  background-color: #faf6f2;
  width: 716px;
  height: 50px;
  padding-top: 10px;
  padding-left: 17px;
}

.indentcheckbox {
  padding-left: 35px;
}
.accountnotes2 {
  font-size: 12px;
}

@media screen and (max-width: 1030px) {
  .dropdownmenucontainer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 5px;
    color: #7b6b5b;
  }
}
