.header {
  background-color: #000000;
}

.navbar {
  width: 100%;
  padding-left: 100px;
  padding-right: 0px;
  padding-top: 10px;
  color: #f0e3d5;
}

.brand {
  color: #ffffff !important;
}

.brand h1 {
  margin-bottom: 0px;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.brand span {
  font-size: 24px;
  text-transform: uppercase;
}

.navmenu {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 50px;
  content: none;
}

#menus {
  color: #ffffff;
}
.navmenu a {
  color: #ffffff;
}

.navmenu div {
  background: #7b6b5b !important;
  font-size: 12px;
}

.dropdownItem:hover {
  background: none;
}

.logo {
  width: 150px;
  display: inline-block;
  margin-left: 128px;
  padding-bottom: 18px;
}

.inlineBlock {
  display: inline-block;
}

.logoWrapper {
  padding-left: 0px;
}

.dropdownTopLevel {
  padding: 0 1.5rem !important;
  font-weight: 100 !important;
}

.dropdownTopLevel a {
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #ffffff !important;
}

.dropdownTopLevel div {
  position: relative !important;
  border: 0;
  padding: 0px;
}

.dropdownTopLevel .collasible-nav-dropdown a:hover {
  background: none !important;
}

.dropdownTopLevel .dropdown-menu a:hover {
  background-color: none !important;
}

#dropdownNextLevel {
  color: #fff !important;
  padding-left: 25px !important;
}

#dropdownNextLevel:hover {
  background: none !important;
  color: #16181b !important;
}

.inputnav {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #ad9984;
  height: 35px;
  width: 235px;
  font-size: 12px;
  justify-content: center;
}
.inputnav1 {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #ad9984;
  height: 35px;
  width: 250px;
  font-size: 12px;
  justify-content: center;
}

.label {
  color: #ffffff;
  font-size: 12px;
  width: 200px;
}

.createButton {
  background-color: #7b6b5b;
  border-color: #7b6b5b;
  text-align: center;
  width: 125px;
  font-size: 12px;
}

.createButton:hover {
  background-color: #8f7c69;
  border-color: #7b6b5b;
}
.buttoncontainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 250px;
  height: 100%;
  width: 230px;
  background-color: #faf6f2;
}
.buttonwrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 260px;
  background-color: #faf6f2;
  align-items: center;
}
.button {
  border-radius: 0 !important;
  margin: auto;
  display: block;
  width: 130px;
  height: 60px;
  background-color: #f0e3d5;
  border: none;
  color: #7b6b5b;
  padding: 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #7b6b5b;
  text-decoration: none;
  color: #f8f7f7;
}

.submitbutton {
  border-radius: 1 !important;
  display: block;
  width: 230px;
  height: 40px;
  background-color: #7b6b5b;
  border: none;
  color: #fafafa;
  padding: 10px;
}
.submitbutton:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}

.savebutton {
  border-radius: 1 !important;
  display: block;
  width: 100px;
  height: 48px;
  background-color: #7b6b5b;
  border: none;
  color: #fafafa;
  padding: 10px;
}
.cancelbutton {
  border-radius: 1 !important;
  border-color: #7b6b5b;
  display: block;
  width: 100px;
  height: 48px;
  background-color: #fdfbfa;
  color: #7b6b5b;
  padding: 10px;
}
.savebutton:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}
.cancelbutton:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}
.homecontainer {
  padding-top: 50px;
  padding-right: 220px;
  margin-right: 10px;
  margin-left: auto;
  text-align: center;
  color: #7b6b5b;
}

.homeHeaderlabel {
  background-color: #faf6f2;
  width: 736px;
  height: 50px;
  padding-top: 14px;
}
.homeHeaderlabel2 {
  background-color: #f0e3d5;
  width: 100%;
  height: 50px;
  padding-top: 9px;
  padding-left: 10px;
}

.createcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: left;
  color: #7b6b5b;
}
.accountinfocontainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-right: 0px;
  margin-left: 120px;
  text-align: left;
  color: #7b6b5b;
  width: 1000px;
}
.sidebarcol {
  padding-left: 100px;
}
.documentscolborder {
  border-style: solid;
  border-color: #7b6b5b;
  border-width: thin;
  font-size: 10px;
  padding-top: 5px;
}
.documentsviewpdf {
  padding-top: 5px;
  border-style: solid;
  border-color: #a1886c;
  border-width: thin;
  font-size: 10px;
  color: azure;
  background-color: #7b6b5b;
}
.documentsheader {
  border-style: solid;
  border-color: #7b6b5b;
  border-width: thin;
  font-size: 14px;
  font-weight: bold;
  background-color: #f0e3d5;
  padding-top: 5px;
  padding-bottom: 0px;
}
.pkgdetails {
  font-size: 12px;
}
.accountnotes {
  font-size: 10px;
}
.accountnotes2 {
  font-size: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 1030px) {
  .logo {
    width: 150px;
    display: flex;
    margin-left: 10px;
    padding-bottom: 18px;
  }
  .navbar {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 35px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .container {
    width: 50%;
  }
  .utilitycontainer {
    display: none;
  }
  .logoWrapper {
    display: flex;
    flex-direction: column;
  }

  .utilityMenus {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 11px;
  }

  .utilityMenu {
    text-align: right;
    padding-right: 20px;
    text-align: left;
    padding-bottom: 12px;
  }
  .navmenu {
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 10px;
    font-weight: bold;
    width: 20%;
  }
  .navmenu div {
    background: #7b6b5b !important;
  }
  .togglecontainer {
    padding-left: 60px;
  }
  #dropdownNextLevel {
    color: #fff !important;
    padding-left: 8px !important;
  }
}
