.buttoncontainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 250px;
  height: 100%;
  width: 230px;
  background-color: #faf6f2;
}
.buttonwrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 260px;
  background-color: #faf6f2;
  align-items: center;
}
.buttons {
  border-radius: 0 !important;
  margin: auto;
  display: block;
  width: 130px;
  height: 60px;
  background-color: #f0e3d5;
  border: none;
  color: #7b6b5b;
  padding: 20px;
  text-decoration: none;
}

.buttons:hover {
  text-decoration: none;
  color: #f8f7f7;
  background-color: #7b6b5b;
}

.sidebarcol {
  padding-left: 100px;
}

@media screen and (max-width: 1030px) {
  .buttoncontainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: 0px;
    background-color: #faf6f2;
  }
  .sidebarcol {
    padding-right: 60px;
    padding-left: 10px;
  }
}
