.createcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  text-align: left;
  color: #7b6b5b;
}
.indenttext {
  padding-left: 18px;
  font-size: 25px;
  font-weight: bold;
}
.indentcheckbox {
  padding-left: 35px;
}
.indentselectbox {
  padding-left: 20px;
}

@media screen and (max-width: 1030px) {
  .indenttext {
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}
