.steps {
  color: #7b6b5b;
  margin-top: 50px;
  margin-bottom: 50px;
}

.steps h3 {
  font-size: 30px;
}

.steps h5 {
  margin-top: 30px;
  font-weight: bold;
}

.steps img {
  display: block;
  margin: auto;
}

.steps p {
  font-size: 14px;
}

.steps span {
  font-size: 60px;
  font-weight: 500;
  margin-right: 15px;
}

.subtitle {
  font-size: 14px !important;
  margin-right: 0px !important;
  font-weight: bold !important;
}