.modalHeader {
  background: rgb(240, 227, 213);
  color: #7b6b5b;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 102px;
}
.modalcontainer {
  width: 300px;
}
.modalTitle {
  font-size: 20px;
}
.modal-ku {
  width: 350px;
  margin: auto;
}

@media screen and (max-width: 1030px) {
  .modalcontainer {
    width: 300px;
  }
}
