.modalHeader {
  background: rgb(240, 227, 213);
  color: #7b6b5b;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 80px;
}

.modalTitle {
  font-size: 20px;
}

@media screen and (max-width: 1030px) {
}
