.footerMenus {
  display: inline-block !important;
  color: #7b6b5b;
}

.footerMenus:hover {
  color: #7b6b5b !important;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}

.sendButton:hover {
  background: #e7d2bc;
  border-color: #7b6b5b;
}

.sendButton {
  right: 0;
  position: absolute;
  bottom: 0;
  background: #e7d2bc;
  border-color: #e7d2bc;
  color: #7b6b5b;
  font-weight: 500;
}

.form {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.formGroup {
  position: relative;
}

.privacy_policy a {
  font-size: 13px;
}

.copyright {
  color: #7b6b5b;
  font-size: 10px;
}

.footerh1 {
  width: 100%;
  font-size: 38px;
  text-align: center;
  color: #7b6b5b;
  padding: 20px;
  font-weight: 600;
}

.sendmail {
  width: 93%;
  height: 50%;
  font-size: 18px;
  text-align: center;
  background: #7b6b5b;
  border-color: #e7d2bc;
  color: #ffffff;
}

.sendmail:hover {
  width: 93%;
  height: 50%;
  font-size: 18px;
  text-align: center;
  background: #927f6b;
  border-color: #e7d2bc;
  color: #ffffff;
}

.footerlink a {
  text-decoration: none;
  color: #7b6b5b;
  font-size: 15px;
}

.footerlink a:hover {
  text-decoration: none;
  color: #251f19;
}

.footerlink:active:visited {
  text-decoration: none;
  color: #7b6b5b;
}

.footerinput {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #7b6b5b;
  background: #f0e3d5;
  padding-top: 10px;
  padding-left: 0;
  height: 27px;
  width: 260px;
  border-radius: 0;
  font-size: 12px;
}
.footerinputselect {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #7b6b5b;
  background: #f0e3d5;
  padding-left: 0;
  height: 33px;
  width: 260px;
  border-radius: 0;
  color: #7b6b5b;
  font-size: 12px;
}
.footerinputselect:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #f7f6f5;
}
.footerinput:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #fdfdfc;
  padding-top: 15px;
}

.checkboxlabel {
  font-size: 9px;
  padding-top: 18px;
  padding-left: 15px;
  color: #7b6b5b;
  width: 500px;
  column-span: 3;
}

.input::placeholder {
  color: #7b6b5b;
  opacity: 1; /* Firefox */
}
.checkboxelement {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1030px) {
  .footerinput {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: #7b6b5b;
    background: #f0e3d5;
    padding-top: 10px;
    padding-left: 0;
    height: 27px;
    width: 100%;
    border-radius: 0;
    font-size: 12px;
  }

  .footerinputselect {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: #7b6b5b;
    background: #f0e3d5;
    padding-left: 0;
    height: 33px;
    width: 100%;
    border-radius: 0;
    color: #7b6b5b;
    font-size: 12px;
  }
  .checkboxlabel {
    padding-top: 5px;
    color: #7b6b5b;
    font-size: 7px;
    padding-left: 15px;
  }
  .footerMenus {
    display: flex;
    color: #7b6b5b;
    width: 100%;
  }
  .center {
    text-align: center;
  }
}
