.footerMenus {
  display: inline-block !important;
  color: #ffffff;
}

.center {
  text-align: center;
}

.sendButton {
  right: 0;
  position: absolute;
  top: 0;
  background: #e7d2bc;
  border-color: #e7d2bc;
  color: #7b6b5b;
  font-weight: 500;
}

.form {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.formGroup {
  position: relative;
}

.copyright {
  color: #6c757d;
  font-size: 11px;
}