.footerMenus {
  display: inline-block !important;
  color: #7b6b5b;
}

.footerMenus:hover {
  color: #7b6b5b !important;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}

.sendButton:hover {
  background: #e7d2bc;
  border-color: #7b6b5b;
}

.sendButton {
  right: 0;
  position: absolute;
  bottom: 0;
  background: #e7d2bc;
  border-color: #e7d2bc;
  color: #7b6b5b;
  font-weight: 500;
}

.form {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.formGroup {
  position: relative;
}

.privacy_policy a {
  font-size: 13px;
}

.copyright {
  color: #7b6b5b;
  font-size: 10px;
}

.footerh1 {
  width: 100%;
  font-size: 38px;
  text-align: center;
  color: #7b6b5b;
  padding: 20px;
  font-weight: 600;
}

.sendmail {
  width: 93%;
  height: 50%;
  font-size: 18px;
  text-align: center;
  background: #7b6b5b;
  border-color: #e7d2bc;
  color: #ffffff;
}

.sendmail:hover {
  width: 93%;
  height: 50%;
  font-size: 18px;
  text-align: center;
  background: #927f6b;
  border-color: #e7d2bc;
  color: #ffffff;
}

.footerlink a {
  text-decoration: none;
  color: #7b6b5b;
  font-size: 15px;
}

.footerlink a:hover {
  text-decoration: none;
  color: #251f19;
}

.footerlink:active:visited {
  text-decoration: none;
  color: #7b6b5b;
}
.socialmediawrapper {
  width: 50%;
  margin: auto;
}
.socialmedialink a {
  text-decoration: none;
  color: #7b6b5b;
  font-size: 20px;

  background-color: rgb(247, 244, 235);
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  border-width: thin;
}

.socialmedialink a:hover {
  text-decoration: none;
  color: #251f19;
}

.socialmedialink:active:visited {
  text-decoration: none;
  color: #7b6b5b;
}

.footerinput {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #7b6b5b;
  background: #f0e3d5;
  padding-top: 10px;
  padding-left: 0;
  height: 27px;
  width: 260px;
  border-radius: 0;
  font-size: 12px;
}
.footerinputselect {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #7b6b5b;
  background: #f0e3d5;
  padding-left: 0;
  height: 33px;
  width: 260px;
  border-radius: 0;
  color: #7b6b5b;
  font-size: 12px;
}
.footerinputselect:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #f7f6f5;
}
.footerinput:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #fdfdfc;
  padding-top: 15px;
}

.checkboxlabel label {
  font-size: 10px;
  padding-top: 1px;
  padding-left: 15px;
  color: #7b6b5b;
  width: 500px;
  column-span: 3;
}

.input::placeholder {
  color: #7b6b5b;
  opacity: 1; /* Firefox */
}
.checkboxelement {
  display: flex;
  flex-direction: row;
}

.fa {
  display: block;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: green;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: red;
  color: blue;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
@media screen and (max-width: 1030px) {
  .footerinput {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: #7b6b5b;
    background: #f0e3d5;
    padding-top: 10px;
    padding-left: 0;
    height: 27px;
    width: 100%;
    border-radius: 0;
    font-size: 12px;
  }

  .footerinputselect {
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: #7b6b5b;
    background: #f0e3d5;
    padding-left: 0;
    height: 33px;
    width: 100%;
    border-radius: 0;
    color: #7b6b5b;
    font-size: 12px;
  }
  .checkboxlabel label {
    padding-top: 1px;
    color: #7b6b5b;
    font-size: 8px;
    padding-left: 1px;
  }
  .footerMenus {
    display: flex;
    color: #7b6b5b;
    width: 100%;
  }
  .center {
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: green;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: red;
    color: blue;
  }

  .fa-twitter {
    background: #55acee;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }

  .fa-android {
    background: #a4c639;
    color: white;
  }

  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }

  .fa-vimeo {
    background: #45bbff;
    color: white;
  }

  .fa-tumblr {
    background: #2c4762;
    color: white;
  }

  .fa-vine {
    background: #00b489;
    color: white;
  }

  .fa-foursquare {
    background: #45bbff;
    color: white;
  }

  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }

  .fa-flickr {
    background: #f40083;
    color: white;
  }

  .fa-yahoo {
    background: #430297;
    color: white;
  }

  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }

  .fa-rss {
    background: #ff6600;
    color: white;
  }
}
