.header {
  background-color: #000000;
}

.navbar {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 55px;
}

.brand {
  color: #7b6b5b !important;
}

.brand h1 {
  margin-bottom: 0px;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.brand span {
  font-size: 24px;
  text-transform: uppercase;
}

.navmenu {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.navmenu a {
  color: #ffffff;
  /*color: #7b6b5b !important;*/
}

.navmenu div {
  background: #7b6b5b !important;
  font-size: 12px;
  
}

.dropdownItem:hover {
  background: none;
}

.utilityMenus {
  display: inline-block;
  color: #7b6b5b;
  padding-right: 0px;
  padding-left: 20;
}

.utilityMenu {
  text-align: right;
  padding-right: 0px;
  text-align: left;
  padding-bottom: 12px;
}

.logo {
  width: 150px;
  display: inline-block;
  margin-left:128px ;  
  padding-bottom: 18px;
}

.inlineBlock {
  display: inline-block;
}

.logoWrapper {
  padding-left: 0px;
}

.dropdownTopLevel {
  padding: 0 1.5rem !important;
  font-weight: 100 !important;
}

.dropdownTopLevel a {
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #ffffff !important;
}

.dropdownTopLevel div{
  position: relative !important;
  border: 0;
  padding: 0px;
}

.dropdownTopLevel .collasible-nav-dropdown a:hover {
  background: none !important;
}

.dropdownTopLevel .dropdown-menu a:hover {
  background-color: none !important;
}

#dropdownNextLevel {
  color: #fff !important;
  padding-left: 25px !important;
}

#dropdownNextLevel:hover {
  background: none !important;
  color: #16181b !important;
}

.inputnav {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #ad9984; 
  height: 35px;
  width:235px;   
  font-size: 12px;
  justify-content: center;   
}
.inputnav1 {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #ad9984; 
  height: 35px;
  width:250px;   
  font-size: 12px;
  justify-content: center;   
}

.label{
  color: #7b6b5b;
  font-size: 12px;  
  width: 200px;
}

.forgotpasslink a{
  color: #7b6b5b;
  font-size: 12px; 
  text-decoration: none; 
  justify-items: center;
  padding:0px;
}
.forgotpasslink{
  color: #7b6b5b;
  font-size: 12px;  
  text-align: center;
  padding:0px;
}

.forgotpasslink1{
  color: #7b6b5b;
  font-size: 12px;  
  text-align: right;
  padding:0px;
}
.haveaccount{
  color: #7b6b5b;
  font-size: 13px;  
  text-align: center;
  padding:0px;
}
.createButton {
  background-color: #7b6b5b;
  border-color: #7b6b5b;
  text-align: center;
  width: 125px;
  font-size: 12px;
}

.createButton:hover{
  background-color: #8f7c69;
  border-color: #7b6b5b; 
}

.signinButton {
  background-color: #7b6b5b;
  border-color: #7b6b5b;
  text-align: center;
  width: 235px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.signinButton:hover{
  background-color: #8f7c69;
  border-color: #7b6b5b; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

