.left {
  text-align: left;
}
.center {
  text-align: center;
}

.newpasscontainer {
  width: 350px;
  color: #7b6b5b;
}
.labelforgot {
  font-size: 13px;
}
.sendButton {
  background-color: #7b6b5b;
  border-color: #7b6b5b;
  text-align: center;
  width: 320px;
  height: 38px;
  font-size: 14px;
  color: rgb(247, 243, 243);
}

.sendButton:hover {
  background-color: #8f7c69;
  border-color: #7b6b5b;
  color: rgb(247, 243, 243);
}
