.package {
  color: #7b6b5b;
  padding: 6px;
}

.package h3 {
  text-align: center;
  background: #e7d2bc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bg {
  background: #faf6f2;
  padding-bottom: 20px;
}

.packageContent {
  padding: 10px;
  font-size: 13px;
}

.package button {
  background-color: #7b6b5b;
  border: none;
  margin: auto;
  display: block;
}

.package .button {
  margin: auto;
  display: block;
  width: 55%;
  background-color: #7b6b5b;
  border: none;
}

.package button:hover {
  background-color: #7b6b5b;
}

.package span {
  text-align: center;
  display: block;
  font-size: 35px;
}

.inputnav1 {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #ad9984;
  height: 35px;
  width: 250px;
  font-size: 12px;
  justify-content: center;
}

.label {
  color: #7b6b5b;
  font-size: 12px;
  width: 200px;
}

.forgotpasslink a {
  color: #7b6b5b;
  font-size: 12px;
  text-decoration: none;
  justify-items: center;
  padding: 0px;
}
.forgotpasslink {
  color: #7b6b5b;
  font-size: 12px;
  text-align: center;
  padding: 0px;
}

.forgotpasslink1 {
  color: #7b6b5b;
  font-size: 12px;
  text-align: right;
  padding: 0px;
}
.haveaccount {
  color: #7b6b5b;
  font-size: 13px;
  text-align: center;
  padding: 0px;
}
.createButton {
  background-color: #7b6b5b;
  border-color: #7b6b5b;
  text-align: center;
  width: 125px;
  font-size: 12px;
}

.createButton:hover {
  background-color: #8f7c69;
  border-color: #7b6b5b;
}

.signinButton {
  background-color: #7b6b5b;
  border-color: #7b6b5b;
  text-align: center;
  width: 235px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.signinButton:hover {
  background-color: #8f7c69;
  border-color: #7b6b5b;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
