.featuredServices {
  margin-top: 70px;
  margin-bottom: 100px;
}

.featuredServices img {
  display: block;
  margin: auto;
  width: 40%;
}

.featuredServices img:nth-child(2) {
  margin-bottom: 10px;
}

.featuredServices h2{
  display: block;
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 30px;
  color: #7b6b5b;
  justify-content:baseline;
}

.featuredServices p {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #7b6b5b;
}

.featuredServices span {
  text-align: center;
  display: block;
  color: #7b6b5b;
  font-size: 15px;
}