.pricingForm {
  margin-top: 70px;
  margin-bottom: 100px;
  color: #7b6b5b;
}

.label {
  font-weight: 500;  
}
.labelleft {  
  text-align: right; 
}

.additionals {
  font-size: 14px;
}

.pricingh1 {
  width: 100%;
  font-size: 38px;
  text-align: center;
  color: #7b6b5b;
  padding:20px;
  font-weight: 600;
}

.pricinglink a{
  text-decoration: none;
  color: #7b6b5b;
  font-size: 15px;
  }
  
  .pricinglink a:hover{
    text-decoration: none;
    color: #251f19;
    }
  
    .pricinglink:active:visited{
      text-decoration: none;
      color: #7b6b5b;
      }
     
      .pricingbutton {
        background-color: #7b6b5b;
        border-color: #7b6b5b;
        text-align: center;
        width: 200px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
      
      .pricingbutton{
        background-color: #8f7c69;
        border-color: #7b6b5b; 
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }