.input {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #7b6b5b;
  background: #f0e3d5;
  padding-top: 10px;
  padding-left: 0;
  height: 27px;
  width: 260px;
  border-radius: 0;
  font-size: 12px;
}
.inputselect {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #7b6b5b;
  background: #f0e3d5;
  margin: 0%;
  padding-left: 5px;
  height: 38px;
  width: 380px;
  border-radius: 0;
  color: #7b6b5b;
}
.inputselect:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #f7f6f5;
}
.input:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #fdfdfc;
  padding-top: 15px;
}
.inputselect2 {
  outline: 0;
  border-width: 1 1 1.5px;
  margin: 0%;
  padding: 0;
  height: 38px;
  width: 360px;
  border-radius: 0;
  color: #7b6b5b;
  font-size: 12px;
}
.checkboxlabel {
  font-size: 9px;
  padding-top: 18px;
  padding-left: 15px;
  color: #7b6b5b;
  width: 500px;
  column-span: 3;
}

.input::placeholder {
  color: #7b6b5b;
  opacity: 1; /* Firefox */
}
.checkboxelement {
  display: flex;
  flex-direction: row;
}

.createinput {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 260px;
  border-radius: 1;
  font-size: 12px;
  margin-bottom: 1rem;
}
.accountinput {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 360px;
  border-radius: 1;
  font-size: 12px;
}
.billinginput {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 240px;
  border-radius: 1;
  font-size: 12px;
}
.billingcvn {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 100px;
  border-radius: 1;
  font-size: 12px;
}

.commonbutton {
  border-radius: 1 !important;
  display: block;
  height: 45px;
  background-color: #7b6b5b;
  border: none;
  color: #fafafa;
  padding: 10px;
}

.commonbutton:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}

.brownandwhite {
  background-color: #7b6b5b;
  color: #ffffff;
}
.brownborder {
  border-color: #7b6b5b;
}
.vshidden {
  visibility: inherit;
}
.textalignleft {
  text-align: left;
}
.textalignright {
  text-align: right;
}
@media screen and (max-width: 1030px) {
  .textalignright {
    text-align: left;
  }
  .inputselect2 {
    outline: 0;
    margin: 0%;
    padding: 0;
    height: 38px;
    width: 250px;
    border-radius: 0;
    color: #7b6b5b;
    font-size: 12px;
  }
}
