.input {
  outline: 0;
  border-width: 1 1 1.5px;
  border-color: #7b6b5b;
  background: #f0e3d5;
  padding-top: 10px;
  padding-left: 0;
  height: 27px;
  width: 260px;
  border-radius: 0;
  font-size: 12px;
}

.inputtext {
  outline: 0;
  border-width: 1 1 1.5px;
  margin: 0%;
  padding-left: 15px;
  height: 38px;
  width: 360px;
  border-radius: 0;
  color: #7b6b5b;
  font-size: 12px;
}
.inputselect:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #f7f6f5;
}
.input:focus {
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #e7d2bc;
  background: #fdfdfc;
  padding-top: 15px;
  color: #7b6b5b;
}
.inputselect2 {
  outline: 0;
  border-width: 1 1 1.5px;
  margin: 0%;
  padding-left: 15px;
  height: 38px;
  width: 360px;
  border-radius: 0;
  color: #7b6b5b;
  font-size: 12px;
}
.checkboxlabel {
  font-size: 9px;
  padding-top: 18px;
  padding-left: 15px;
  color: #7b6b5b;
  width: 500px;
  column-span: 3;
}

.input::placeholder {
  color: #7b6b5b;
  opacity: 1; /* Firefox */
}
.checkboxelement {
  display: flex;
  flex-direction: row;
}

.createinput {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 260px;
  border-radius: 1;
  font-size: 12px;
  margin-bottom: 1rem;
}
.accountinput {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 360px;
  border-radius: 1;
  font-size: 12px;
}
.billinginput {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 240px;
  border-radius: 1;
  font-size: 12px;
}
.billingcvn {
  outline: 0;
  border-width: 1 1 1.5px;
  height: 35px;
  width: 100px;
  border-radius: 1;
  font-size: 12px;
}

.commonbutton {
  border-radius: 1 !important;
  display: block;
  height: 45px;
  background-color: #7b6b5b;
  border: none;
  color: #fafafa;
  padding: 10px;
}

.commonbutton:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}

.brownandwhite {
  background-color: #7b6b5b;
  color: #ffffff;
}
.brownborder {
  border-color: #7b6b5b;
}
.vshidden {
  visibility: inherit;
}
.textalignleft {
  text-align: left;
}
.textalignright {
  text-align: right;
}
.formlabel {
  font-weight: bold;
  padding-left: 20px;
}
.formindent {
  padding-left: 20px;
}
.formcolbutton1 {
  padding: 0px;
}
.formcolbutton2 {
  padding: 0px;
  padding-top: 0px;
}
div.fileinputs {
  position: relative;
}
input.formfile {
  position: relative;
  text-align: right;
  top: 7px;
  left: 10px;
  opacity: 0;
  z-index: 2;
  width: 320px;
}
div.fakefile {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 1;
}
.submitbuttondashboard {
  border-radius: 0 !important;
  display: block;
  width: 230px;
  height: 41px;
  background-color: #7b6b5b;
  border: none;
  color: #fafafa;
  padding: 10px;
}
.submitbuttondashboard:hover {
  background-color: #a1886c;
  border-color: saddlebrown;
  border-width: 2px;
}

.formheaderlabel {
  background-color: #faf6f2;
  width: 650px;
  height: 50px;
  padding-top: 10px;
  padding-left: 17px;
}
@media screen and (max-width: 1030px) {
  .textalignright {
    text-align: left;
  }
  .inputtext {
    outline: 0;
    border-width: 1 1 1.5px;
    margin: 0%;
    padding-left: 15px;
    height: 38px;
    width: 250px;
    border-radius: 0;
    color: #7b6b5b;
    font-size: 12px;
  }
  .inputselect {
    outline: 0;
    border-width: 1 1 1.5px;
    border-color: #7b6b5b;
    background: #f0e3d5;
    margin: 0%;
    padding-left: 5px;
    height: 38px;
    width: 280px;
    border-radius: 0;
    color: #7b6b5b;
  }
  .inputselect2 {
    outline: 0;
    margin: 0%;
    padding: 10;
    height: 38px;
    width: 250px;
    border-radius: 0;
    color: #7b6b5b;
    font-size: 12px;
  }
  .accountinput {
    outline: 0;
    border-width: 1 1 1.5px;
    height: 35px;
    width: 300px;
    border-radius: 1;
    font-size: 12px;
  }
  .formheaderlabel {
    background-color: #faf6f2;
    width: 300px;
    height: 50px;
    padding-top: 10px;
    padding-left: 17px;
    overflow: hidden;
  }
  .formcolbutton1 img {
    width: 280px;
    height: auto;
  }
  .formcolbutton1 {
    padding-top: 10px;
  }
  .formcolbutton2 {
    padding: 0px;
    padding-top: 10px;
  }
  div.fileinputs {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .submitbuttondashboard {
    border-radius: 0 !important;
    display: block;
    width: 200px;
    height: 35px;
    background-color: #7b6b5b;
    border: none;
    color: #fafafa;
    padding: 10px;
    padding-top: 5px;
  }
}
